<!DOCTYPE html>
<html>
  <head>
    <title>RailsBudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice" style="color: green"><%= notice %></p>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}", style:"color:red" %>
    <% end %>
    <%= yield %>
  </body>
</html>
